.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    height: 64px;

    border-radius: 0px 0px 10px 10px;
    background-color: #161619;
}